.search {
    margin-top: 40px;
    .container {
        .search__flex {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .search__item {
                text-align: center;
                img {
                    width: 200px;
                    border-radius: 100px;
                }
                .search__more {
                    font-size: 14px;
                    color: #8b949e;
                }
            }
        }
    }
}