.switch__type {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #30363d;
    margin-bottom: 20px;
    padding-bottom: 14px;
    .switch__item {
        display:flex;
        gap: 4px;
        cursor: pointer;
        padding: 4px 6px;
        border-radius: 6px;
        &:hover {
            background: #21262c;
        }
        .switch__active-p {
            color: rgb(71, 71, 215);
        }
        .switch__item-num {
            background: #40464e;
            padding: 2px 4px;
            font-size: 12px;
            border-radius: 10px;
        }
    }
}